.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    margin-top: 2rem;
    font-size: 4rem;
    color: #2c465f;
}
.letter{
    margin: 3rem 0 0 3rem;
}
.box-container{
    margin: 0rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    padding: 1em 3em;
}

.box-container .box{
    border: .1rem solid #0097a7;
    
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    
}

.box-container .box:hover{
    background-color: #0097a7;
    color: #fff;
    
}

.box-container .box i{
    font-size: 2rem;
    color: #0097a7;
}

.box-container .box .content h3{
    font-size: 1rem;
    color: #000;
}

.box-container .box:hover i,
.box-container .box:hover .content h3{
    color: #fff;
}
@media (max-width:983px) {
    .box-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}
@media (max-width:480px) {
    .heading h1{
        font-size: 3rem;
    }
    .letter h1{
        font-size: 1.5rem;
    }
}
@media (max-width:440px) {
    .box-container .box i{
        font-size: 1rem;
        color: #0097a7;
    }

    .box-container .box .content h3{
        font-size: .75rem;
        color: #000;
    }
}