*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #ddccd9;
}

.container{
    background-color: #fff;
    width: 40%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top:50%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, .15);
}

h1{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}

p{
    position: relative;
    margin:auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}

form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,
    1fr);
    grid-gap:20px 30px;
    margin-bottom: 20px;
}

label{
    color: #1c093c;
    font-size: 20px;
    font-weight: 500;
}

input{
    width: 100%;
    font-weight: 400;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 8px;
    font-size: 18px;
}
input[type="file"]:hover{
    cursor: pointer;
}

.btn{
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border: none;
    padding: 10px 20px;
    background: linear-gradient(130deg, #6f6df4, #4c46f5);
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
}
button:hover{
    border: 1px solid #6f6df4;
    background: transparent;
    color: #000;
    cursor: pointer;
}

@media (max-width: 600px) {
    .row{
        grid-template-columns: repeat(1,
        1fr);
    }
}